{% extends "vehicles/base.html" %}
{% block content %}
<h2>Current time is {% now "Y M d H:i:s" %}</h2>
<table>
<form method="post" class="m-3" action="/vehicles/{{ traveldetail.id }}/description">
    {% csrf_token %}
    {% for traveldetail in datas %}
            <div class="col-9">
                  <div class="row">
                    <div class="col-3"><p class="card-text">Bus Name{{ traveldetail.title|title}}</p></div>
                    <div class="col-3"><p class="card-text">Journey {{ traveldetail.from_address|wordcount }}</p></div>
                    <div class="col-3"><p class="card-text">Departure {{ traveldetail.departure_date|date }}</p></div>
                    <div class="col-3"><p class="card-text">Fare {{ traveldetail.price|random }}</p></div>
                    <div class="col-3"><a href="/vehicles/{{ traveldetail.id }}" class="btn btn-primary">View Details</a></div>
                  </div>
            </div>
    {% endfor %}
    <input type="submit" value="Submit Review">
</form>
</table>
{% endblock %}