{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='slim' %}

<title>{% block title %}Login to e-ticketing site{% endblock %}</title>

<div class="container">
    {% bootstrap_messages %}
    <div class="row">
        <div class="col-lg-4 offset-lg-4 col-sm-10 offset-sm-1">
            <div class="card my-5">
                <div class="card-header text-center">
                    Login to e-ticketing site
                </div>
                <div class="card-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            {% bootstrap_field field %}
                        {% endfor %}
                        <input type="submit" class="btn btn-success text-center w-100 mb-3" value="Sign In">
                        <small class="text-muted ml-2"><a href="/password-reset">Forgot Password?</a></small>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <a href="/signup" class="float-left small">Sign Up</a>
                    <a href='{% url 'social:begin' 'google-oauth2' %}'>Login with Google</a>
                    <a href="/" class="float-right small">Home</a>
                </div>

            </div>
        </div>
    </div>


</div>

